@media screen and (max-width:700px){

    header .container{
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .logo{
        margin-left: 5px;
        color: var(--vermelho);
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        
    }





}

